@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

body {
    margin: 100px;
}

input {
    display: block;
    margin: 10px 0px;
}

.beta {
    color: white;
    background-color: #2A2A48;
}

#happy {
    height: 100%;
    font-family: Piedra, cursive;
    font-size: 50px;
}

.desvanecer:hover {
    opacity: 0.2;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}